<!--<h1>{{title}}</h1>
<h3>{{unContact}}</h3>
<ul>
  <li *ngFor="let contact of mesContacts">
  {{ contact.name + '' + contact.email }}
  </li>
</ul>-->

<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
     <div class="navbar-header">
        <a href="/" class="navbar-brand">
        {{ title }}
        </a>
      </div>
  </nav>
  </header>



  <div class="row">

    <!--Liste des contacs -->
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#"
           *ngFor="let contact of mesContacts"
           (click)="displayContact(contact)"
           [class.active]="contact === contactProfil"
           class="list-group-item list-group-item-action">
          {{ contact.name }}
        </a>


      </div>


    </div><!-- /.col-sm-4-->

    <!-- Profil du contact-->
    <div class="col-sm-8">
      <div class="jumbotron" *ngIf="contactProfil">
        <h1 class="display-4">{{ contactProfil.name }}</h1>
        <p class="lead">{{ contactProfil.email }}</p>
        <p class="lead">{{ contactProfil.tel }}</p>
        <hr class="my-4">
        <!-- exemple du two way data binding
         banana in the box
         le model impacte la vue
         le vue impacte le model
         -->
        <input type="text"
               [(ngModel)]="contactProfil.name"
               class="form-control">
        </div>
      <div class="jumbotron" *ngIf="!contactProfil">
        <h1 class="display-4">Mes contacts</h1>
        <p class="lead">Choisissez un contact dans le menu à gauche </p>
        <hr class="my-4">
      </div>
    </div><!--/.col-sm-8-->

  </div><!--/. row -->


</div><!--/.container-->
